{% extends 'blog.html' %}

{% block content %}
{% for post in posts %}
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.pub_date }} by <a href="#">{{ post.user_full_name }}</a></p>

    <p>{{ post.body }}</p>
    <hr>
{% endfor %}

<nav class="blog-pagination">
    <a class="btn btn-outline-primary {{ 'disabled' if prev_url==None }}" href="{{ prev_url }}">Older</a>
    <a class="btn btn-outline-primary {{ 'disabled' if next_url==None }}" href="{{ next_url }}">Newer</a>
</nav>

{% endblock %}
